{% extends 'admin/adminbase.html' %}

{% block content %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
                        <!-- start page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Change Order Status</h4>
            
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Order Management</a></li>
                                            <li class="breadcrumb-item active">Change Status</li>
                                        </ol>
                                    </div>
            
                                </div>
                            </div>
                        </div>
            <!-- end page title -->

            <div class="row  d-flex justify-content-center">
                <div class="col-4">

                    <div class="tab-pane" id="seller-details mt-5">
                        <div class="text-center mb-4">
                            <h5>Change Status</h5>
                        </div>
                        <form action="{% url 'change_status' order_status.id %}" method="POST" >
                            {% csrf_token %}


                                    <label for="basicpill-address-input" class="form-label">Category</label>
                                        <select name = "status" class="form-select" aria-label="Default select example">
                                            <option value="{{order_status.delivery_status}}" selected>{{order_status.delivery_status}}</option>
                                            <option value="pending">Pending</option>
                                            <option value="shipped">Shipped</option>
                                            <option value="cancelled">Cancelled</option>
                                            <option value="delivered">Delivered</option>



                                        </select>
                        <ul class="pager wizard twitter-bs-wizard-pager-link">
                            <button type="submit" class="btn btn-primary">Submit </button>
                        </ul>
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

{% endblock %}