{% extends 'admin/adminbase.html' %}

{% load static %}

{% block content %}
<!-- ============================================================== -->
           <!-- Start right Content here -->
           <!-- ============================================================== -->
           <div class="main-content">

               <div class="page-content">
                   <div class="container-fluid">

                       <!-- start page title -->
                       <div class="row">
                           <div class="col-10">
                               <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                   <h4 class="mb-sm-0 font-size-18">Sub Category Management</h4>

                                   <div class="page-title-right">
                                       <ol class="breadcrumb m-0">
                                           <li class="breadcrumb-item"><a href="javascript: void(0);">Category Management</a></li>
                                           <li class="breadcrumb-item active">Sub Category</li>
                                       </ol>
                                   </div>

                               </div>
                               
                           </div>


                       </div>
                       <!-- end page title -->

                       <div class="row" id="sub_category_div">
                           <div class="col-12">
                               <div class="card">
                                   <div class="card-header">

                                       <div class="d-flex justify-content-between">
                                           <div>
                                           <h4 class="card-title">Sub Categories</h4>
                                           <p class="card-title-desc">List of sub-categories</p>
                                       </div>
                                           <a href = "{% url 'add_sub_category' %}" type="button" class="btn btn-primary waves-effect waves-light w-sm">
                                               Add Sub Category
                                           </a>
                                       
                                       </div>

                                   

                                   </div>

                                   <div class="card-body">
       
                                       <div class="table-responsive">
                                           <table class="table table-editable table-nowrap align-middle table-edits">
                                               <thead>
                                                   <tr>
                                                       <th>Sub Category ID</th>
                                                       <th>Sub Category Name</th>
                                                       <th>Category name</th>
                                                       <th>Slug</th>
                                                       <th>Description</th>
                                                       <th>Edit</th>
                                                       <th>Delete</th>
                                                   </tr>
                                               </thead>
                                               {% for sub in subcategory %}
                                               <tbody>
                                                   <tr data-id="1">
                                                       <td data-field="id" style="width: 80px">{{sub.id}}</td>
                                                        <td data-field="name">{{sub.sub_category_name}}</td>
                                                       <td data-field="">{{sub.catergory_id}}</td>
                                                       <td data-field="age">{{sub.slug}}</td>
                                                       <td data-field="gender">{{sub.description}}</td>
                                                       <td style="width: 100px">
                                                           <a href = "{% url 'edit_sub_category' sub.id %}" onclick="return confirm('Are you sure?')" class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                               <i class="fas fa-pencil-alt"></i>
                                                           </a>
                                                       </td>
                                                       <td style="width: 100px">
                                                           <a onclick="delete_sub_category('{{sub.id}}')" class="btn btn-outline-secondary btn-sm edit" title="Delete">
                                                               <i class="fas fa-trash-alt"></i>
                                                           </a>
                                                       </td>
                                                   </tr>
                                                   
                                               </tbody>
                                               {% endfor %}
                                               </table>
                                       </div>
       
                                   </div>
                               </div>
                           </div> <!-- end col -->
                       </div> <!-- end row -->
                       
                   </div> <!-- container-fluid -->
               </div>
               <!-- End Page-content -->


<script>

  /*  deleting the subcategory */

    function delete_sub_category(id){

        var data = {
      
            'sub_category_id' :id,
            'csrf_token' : '{{csrf_token}}',
      
        }
        swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover the deleted cart item!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
      
      
            $.ajax({
              url:"{% url 'delete_sub_category' %}",
              type:"POST",
              data: data,
                dataType: "html",
                success: function () {
                    $("#sub_category_div").load(location.href + " #sub_category_div");            
          
                }
          
            });
            
            swal("Poof! Your category has been deleted!", {
              icon: "success",
            });
          } else {
            swal("Your category item is safe!");
          }
        });
      
      
      }
</script>
{% endblock %}