{% extends 'user/base.html' %}
{% load static %}
{% block content %}
    <!-- register starts -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <div class="breadcrumbs">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="breadcrumbs-content">
                <h1 class="page-title">Registration</h1>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <ul class="breadcrumb-nav">
                <li>
                  <a href="index.html"><i class="lni lni-home"></i> Home</a>
                </li>
                <li>Registration</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <div class="account-login section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
              <div class="register-form">
                <div class="title">
                  <h3>No Account? Register</h3>
                  <p>
                    Registration takes less than a minute but gives you full
                    control over your orders.
                  </p>
                </div>
                {% include 'includes/alert.html' %}



                <form class="row" action = "{% url 'register' %}" id="register_form" method="POST">
                  {% csrf_token %}
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-fn">First Name</label>
                      {{form.first_name}}
                    </div>

                    <span class="error_form" id="first_error_message"></span>

                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-ln">Last Name</label>
                      {{form.last_name}}
                    </div>
                    <span class="error_form" id="last_error_message"></span>

                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-email">E-mail Address</label>
                      {{form.email}}
                    </div>
                    <span class="error_form" id="email_error_message"></span>

                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-username">Username</label>
                      {{form.username}}
                    </div>
                    <span class="error_form" id="username_error_message"></span>

                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-phone">Phone Number</label>
                      {{form.phone_number}}
                    </div>
                    <span class="error_form" id="phone_error_message"></span>
                    
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-phone">Referral Code</label>
                      {{form.referral_code}}
                    </div>                    
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-pass">Password</label>
                      {{form.password}}
                      <span class="error_form" id="password_error_message"></span>

                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-pass-confirm">Confirm Password</label>
                      {{form.confirm_password}}
                      <span class="error_form" id="confirmpassword_error_message"></span>

                    </div>
                  </div>
                  <div class="button">
                    <button class="btn" type="submit">Register</button>
                  </div>
                  <div>
                    {{form.email.errors}}
                    {{form.username.errors}}
                    {{form.phone_number.errors}}
                    {{form.non_field_errors}}
                  </div>
                  <p class="outer-link">
                    Already have an account? <a href="{% url 'login' %}">Login Now</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- register ends -->


{% endblock %}